---
import Layout from "../layouts/Layout.astro";
import ToolBar from "../components/ToolBar.svelte";
import Canvas from "../components/Canvas.svelte";
import Navigation from "../components/Navigation.svelte";
---

<Layout title="Editor de Grafos">
  <div class="app-container">
    <ToolBar client:load />
    <Navigation client:load />
    <Canvas client:load />
  </div>
</Layout>

<style>
  .app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
</style>
